{% extends "base.html" %}{% load i18n static %}

{% block title %}{{name|title}} {% trans "details" %}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.css" type="text/css" />

<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-gl-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.2.0.min.js"></script>

{% for s in scripts %}
{{ s|safe }}
{% endfor %}

{% endblock %}

{% block content %}

<div class="page-header">
  <h1>
    <a href="{% url 'index' %}" class="btn btn-lg btn-primary">
      <i class="fas fa-arrow-left"></i>
    </a>
    <i class="fas fa-info-circle"></i> {{name|title}}
  </h1>
</div>

{% for d in divs %}
{{ d|safe }}
{% endfor %}

{% endblock %}
