{% extends "base.html" %}{% load i18n static %}

{% block title %}{{name|title}} {% trans "details" %}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.css" type="text/css" />

<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-gl-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.2.0.min.js"></script>

{% for s in scripts %}
{{ s|safe }}
{% endfor %}

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-1">
    <a href="{% url 'index' %}" class="btn btn-lg btn-primary btn-block">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
  <div class="page-header col-lg-5">
    <h1>
      <i class="fas fa-info-circle"></i> {{name|title}}
    </h1>
  </div>
  <div class="col-lg-6">
    <div class="alert alert-primary">
      <form action="{% url 'pat_details_form' name=name %}" method="POST">
        <div class="row">
          <div class="col-lg-8">
            <b>{% trans "SEARCH" %}</b><br>
            {% csrf_token %}
            {{queryform.as_p}}
          </div>
          <div class="col-lg-4">
            <button role="submit" href="#upload" class="btn btn-lg btn-block btn-success" style="color: white;">
              <i class="fas fa-search" aria-hidden="true"></i>
              {% trans "Search" %}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


{% for d in divs %}
{{ d|safe }}
{% endfor %}

{% endblock %}
