{% extends "base.html" %}{% load i18n static %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}

<style type="text/css">
.white {color:white;}
.black {color:black;}
</style>

<div class="page-header">
  <h1><i class="fas fa-tachometer-alt"></i> {% trans "PLIC Dashboard" %}</h1>
</div>

<br>
<h2>{% trans "Saved datasets" %}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Study" %}</th>
      <th>{% trans "Records" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for c in collections %}
    <tr>
      <td>{{c.0|title}}</td>
      <td>{{c.1}}</td>
      <td class="text-right">
        <a href="{% url 'collection' name=c.0 %}" class="btn btn-lg btn-success">
          <i class="fas fa-arrow-right"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>
<h2>{% trans "Trigger new import pipeline" %}</h2>

<div class="alert alert-primary">
  <h3>{% trans "Clinical data" %}</h3>
  <form action="{% url 'do-upload' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        {{form_clinical.as_p}}
      </div>
      <div class="col-lg-4 text-right">
        <br><br>
        <button role="submit" href="#upload" class="btn btn-lg btn-warning" style="color: white;">
          <i class="fas fa-upload" aria-hidden="true"></i>
          {% trans "Upload" %}
        </button>
      </div>
    </div>
  </form>
</div>

<div class="alert alert-primary">
  <h3>{% trans "Ultrasound images" %}</h3>
  <form action="{% url 'do-images-upload' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        {{form_ultrasound.as_p}}
      </div>
      <div class="col-lg-4 text-right">
        <br><br>
        <button role="submit" href="#upload" class="btn btn-lg btn-warning" style="color: white;">
          <i class="fas fa-upload" aria-hidden="true"></i>
          {% trans "Upload" %}
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
