{% extends "base.html" %}{% load i18n static %}

{% block title %}#{{patient_id}} ({{name|title}}){% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.css" type="text/css" />

<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-gl-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.2.0.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.2.0.min.js"></script>

{% for s in scripts %}{{s|safe}}{% endfor %}

{% endblock %}

{% block content %}

<script type="text/javascript">

function showHide(id) {
  $("#v-"+id+"-data").slideToggle(function() {
    if ($("#v-"+id+"-data").is(":visible")) {$("#v-"+id+"-btn").attr("class", "float-right fas fa-minus-circle");}
    if (!$("#v-"+id+"-data").is(":visible")) {$("#v-"+id+"-btn").attr("class", "float-right fas fa-plus-circle");}
  });
}

</script>

<div class="row">
  <div class="col-lg-1">
    <a href="{% url 'collection' name=name %}" class="btn btn-lg btn-primary btn-block">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
  <div class="page-header col-lg-11">
    <h1>
      <i class="fas fa-search"></i> Patient #{{patient_id}} in {{name|title}}
    </h1>
  </div>
</div>

<br>

{% if q|length > 1 %}
<div class="row">
  {% for d in divs %}
  <div class="col-lg-3">{{d|safe}}</div>
  {% endfor %}
</div>
{% else %}
<div class="row">
{% for var in plot_cols %}
<div class="col-md-auto">
<b>{{var}}:</b> {{q.0|get_item:var|floatformat:3}}
</div>
{% endfor %}
</div>
{% endif %}

<br>

{% for visit in not_q %}
<div class="alert alert-secondary">
  <h3>{% trans "Visit n." %}
    {% if visit.0 %}{{visit.0|add:1}}
    {% else %}{{forloop.counter}}{% endif %}
    <i id="v-{{forloop.counter}}-btn" class="float-right fas fa-plus-circle" onclick="showHide('{{forloop.counter}}');"></i>
  </h3>
  <div id="v-{{forloop.counter}}-data" style="{% if q|length > 1 %}display:none;{% endif %}">
    <div class="row">
      {% for cat in visit.1 %}
      <div class="col-lg-12"><br><h5><b>{{labels|get_item:cat}}</b></h5></div>
      {% for prop in visit.1|get_item:cat %}
      {% if prop != "_id" %}
      <div class="col-lg-4">{{prop|title}}: {{visit.1|get_item:cat|get_item:prop}}</div>
      {% endif %}{% endfor %}{% endfor %}
    </div>
  </div>
</div>
{% endfor %}

{% if imaging %}
<h3>{% trans "Imaging" %}</h3>
<br>
<div class="row">
{% for i in imaging %}
  <div class="col-lg-4 pt-2 text-right">
    {% if i|get_item:"sagittal" %}<span class="badge badge-success">{% trans "Sagittal" %}</span>
    {% else %}<span class="badge badge-danger">{% trans "Non sagittal" %}</span>
    {% endif %}
    <img src="{% url 'dicom-img' pat_id=q.0|get_item:'patient_id' study=name img_id=forloop.counter %}"
      style="max-width:100%;">
  </div>
{% endfor %}
</div>
{% endif %}

{% endblock %}
