{% extends "base.html" %}{% load i18n static %}

{% block title %}{% trans "Pipeline monitor" %}{% endblock %}

{% block content %}


<style type="text/css">

.green {color: green;}
.orange {color: orange;}
.red {color: red;}

</style>


<script type="text/javascript">

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
    }
});

function ajax_start() {
  document.parsed = [];
  $.ajax({
    type: "POST",
    url: "{% url 'do-ajax-upload' %}",
    data: {"csrfmiddlewaretoken": "{{ csrf_token }}",
           "filename": "{{ fpath }}",
           "study": "{{ f.study }}",
           "push": "{{ f.mongo_push|yesno:'true,false' }}"
         },
    xhrFields: {
      onprogress: function(e) {
        var all = e.currentTarget.response.split("\n");
        if (all.length < 2) return;
        for (k in all) {
          curr_str = all[k]
          if (curr_str && document.parsed.indexOf(curr_str) == -1) {
            current = JSON.parse(curr_str)
            console.log(current, document.parsed.indexOf(current), document.parsed);
            if ("next_stage" in current) {
              $("#"+current["next_stage"]+"_icon").attr("class", "fas fa-cog fa-spin");
            }
            if ("current_stage" in current) {
              $("#"+current["current_stage"]+"_icon").attr("class", "fas fa-check green");
            }
            if (current["status"] == "error") {
              $("#"+current["current_stage"]+"_icon").attr("class", "fas fa-times-circle red");
              $("#pipeline_status").text("{% trans 'Failed' %}").attr("class", "red");
              $("#pipeline_status_icon").attr("class", "fas fa-times red")
              $("#error").slideDown().text(current["error"]);
            }
            else if (current["status"] == "complete") {
              $("#pipeline_status").text("{% trans 'Complete' %}").attr("class", "green");
              $("#pipeline_status_icon").attr("class", "fas fa-check green");
            }
            if ("artifacts" in current) {
              for (i in current["artifacts"]) {
                $("#artifacts-out").prepend(
                  '<a id="art123" class="btn btn-lg btn-success btn-block" download='+current["artifacts"][i][0]+'>' +
                  '<i class="fas fa-cloud-download-alt" aria-hidden="true"></i> &nbsp;&nbsp; ' +
                  i + '</a><br><br>'
                  );
                var blob = new Blob([current["artifacts"][i][1]]);
                blob.name = i.replace(" ", "");
                var url = window.URL.createObjectURL(blob);
                $("#art123").attr("href", url).attr("id", "");
              }
            }
            if ("skipped" in current) {
              $("#"+current["current_stage"]+"_icon").attr("class", "fas fa-stop-circle red");
            }
            document.parsed.push(curr_str);
          }
        }
      }
    },
  });
}

$(document).ready(ajax_start);

</script>


<div class="page-header">
  <h2>
    <i id="pipeline_status_icon" aria-hidden="true" class="fas fa-spinner fa-pulse"></i>
    <b id="pipeline_status">{% trans "Running" %}</b>
  </h2>
  {% trans "Pipeline" %} <i>{{f.dataset}}</i>
</div>

<br>

<div class="alert alert-danger" style="display:none;" id="error"></div>

<br>

<div class="progress">
  <div id="pgbar" class="progress-bar progress-bar-danger progress-bar-animated progress-bar-striped active"
    role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
  </div>
</div>


<div class="row"><div class="col-lg-8">
  <div class="row">
    <div class="col-lg-3"><img src="{% static 'img/spreadsheet.png' %}" style="max-width:100%;"></div>
    <div class="col-lg-9">
      <br><br>
      {% for i in separation.0 %}
      <i id="{{ i.0 }}_icon" class="fas fa-pause-circle orange" aria-hidden="true"></i>&nbsp; {{i.1}}<br>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"><img src="{% static 'img/scopettina.png' %}" style="max-width:80%;"></div>
    <div class="col-lg-9">
      <br>
      {% for i in separation.1 %}
      <i id="{{ i.0 }}_icon" class="fas fa-pause-circle orange" aria-hidden="true"></i>&nbsp; {{i.1}}<br>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"><img src="{% static 'img/mongo.png' %}" style="max-width:80%;"></div>
    <div class="col-lg-9">
      <br>
      {% for i in separation.2 %}
      <i id="{{ i.0 }}_icon" class="fas fa-pause-circle orange" aria-hidden="true"></i>&nbsp; {{i.1}}<br>
      {% endfor %}
    </div>
  </div>
</div><div class="col-lg-4">
  <h2><span class="badge badge-warning">
    <i class="fas fa-folder-open" aria-hidden="true"></i>
    {% trans "Artifacts" %}
  </span></h2>
  <br>
  <div id="artifacts-out"></div>
</div></div>
{% endblock %}
